<div class="inicio-container">
    <mat-card class="inicio-card mat-elevation-z6">
      <mat-card-header>
        <!--mat-icon color="accent">account_balance</mat-icon-->
        <mat-card-title>Bienvenida Secretaría de Administración</mat-card-title>
        <!--mat-card-subtitle></mat-card-subtitle-->
      </mat-card-header>
      <br/>
      <mat-card-content>
        <p>
          Bienvenida al sistema de gestión interna. Desde aquí podrá acceder a la información de cargos,
          liquidaciones e imputaciones con una interfaz clara y eficiente.
        </p>
        <p>
          Seleccione una opción del menú para empezar.
        </p>
      </mat-card-content>
  
      <!--mat-card-actions>
        <button mat-raised-button color="primary" routerLink="/personas">Ir al módulo de Personas</button>
      </mat-card-actions-->
    </mat-card>
  </div>
  