<div class="container mt-4">
  <h2>Listado de Personas</h2>
  <table class="table table-bordered table-striped mt-3">
    <thead class="table-dark">
      <tr>
        <th>Legajo</th>
        <th>Apellido y Nombre</th>
        <th>CUIL</th>
        <th>Cant. Años</th>
        <th>Año Antig.</th>
        <th>Mes Antig.</th>
        <th>Tipo Escalafón</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      @for(p of personas; track p.id){
      <tr>
        <td>{{ p.nroLegaj }}</td>
        <td>{{ p.descApyno }}</td>
        <td>{{ p.cuil }}</td>
        <td>{{ p.cantAnios }}</td>
        <td>{{ p.anoAntig }}</td>
        <td>{{ p.mesAntig }}</td>
        <td>{{ p.tipoEscal }}</td>
        <td>
          <a title="Cargos" (click)="verCargos(p.id)">
            <button type="button" class="btn btn-outline-info" >
              <span class="oi oi-zoom-in"></span>
            </button>
          </a>
        </td>
      </tr>
    }
    </tbody>
  </table>
</div>
