<div class="table-responsive mt-2">
    <table class="table table-sm table-bordered">
      <thead class="table-light">
        <tr>
          <th>Cod. Imputación</th>
          <th>Fuente</th>
          <th>Dependencia</th>
          <th>Inciso</th>
          <th>% Imputación</th>
          <th>Gasto</th>
          <th>Bruto</th>
          <th>Netos</th>
          <th>Descuentos</th>
          <th>Aportes</th>
          <th>Fliar</th>
        </tr>
      </thead>
      <tbody>
        @for(i of imputaciones; track i.id){
        <tr>
          <td>{{ i.partida.codigo }}</td>
          <td>{{ i.codnFuent }}</td>
          <td>{{ i.codnDepen }}</td>
          <td>{{ i.nroInciso }}</td>
          <td>{{ i.porcImput }}</td>
          <td>{{ i.impGasto }}</td>
          <td>{{ i.impBruto }}</td>
          <td>{{ i.impNetos }}</td>
          <td>{{ i.impDctos }}</td>
          <td>{{ i.impAport }}</td>
          <td>{{ i.impFliar }}</td>
        </tr>
      }
      </tbody>
    </table>
  </div>
  